misc/enter.py
misc/test3.py
misc/resources/backup
resources/backup/calendar_dark.png
resources/backup/calendar_light.png
resources/backup/complete - Copy.png
resources/backup/complete_dark.png
resources/backup/complete_light.png
resources/backup/delete_dark.png
resources/backup/delete_light.png
resources/backup/edit - Copy.png
resources/backup/edit_dark.png
resources/backup/edit_light.png
__pycache__
__pycache__/ex_2.cpython-310.pyc
__pycache__/Front_page.cpython-310.pyc
__pycache__/main (explained).py
__pycache__/main.cpython-310.pyc
__pycache__/Main_App.cpython-310.pyc
credentials/.env
credentials/client_secret.json
credentials/credentials.json
db/backup/account(old).db
db/account.db
db/database-Original.db
db/sqlite-tools-win32-x86-3410200/sqldiff.exe
db/sqlite-tools-win32-x86-3410200/sqlite3.exe
db/sqlite-tools-win32-x86-3410200/sqlite3_analyzer.exe
resources/amethyst.jpg
plyer-2.1.0-py2.py3-none-any.whl
main.py
tempCodeRunnerFile.py